
.header {
    position: relative;
    height: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.header-att {
    z-index: 50;
    border-bottom-width: 1px;
}
.header-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.header-bar1 {
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}
.header-bar2{
    position: relative;
    z-index: 40;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.header-bar1-css{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 1rem;
    
}



.intro {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.intro path {
    
    animation: fill 1s ease-in-out forwards ;
}
#logo #rected {
    stroke-dasharray: 2018;
    stroke-dashoffset: 2018;
    animation: line-amin 0.85s linear forwards;
}
@keyframes line-amin {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
        opacity: 0;
        fill: white;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        fill: black;
        transform: translateY(0);
    }
}
.slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }

.intro rect:nth-child(1),.intro rect:nth-child(2){
    animation: slidein 2s ease-in-out forwards ;


}
@keyframes slidein {
    from{
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-bar-right, .header-bar-left {
    display: flex;
    align-items: center;
}
.header-bar-right button {
    margin-left: 10px;
}
.mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn {
    color: #fff;
    background-color: #1f1c24;
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-left: 2px solid #ddd;
}
.profile-btn img {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}
.profile-btn span {
    color: var(--main-color);
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.header-bar-left nav{
    flex: 1 1 0%;
    display: flex;
    height: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: nowrap;
}
.blog-nav {
    color: var(--main-color);
    font-size: 1.2rem;
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    opacity: 0.6;
}
.blog-nav.active {
    opacity: 1;
}
.blog-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    opacity: 0.5;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.css-1330i9l {
    width: 1.25rem;
    height: 1.25rem;
    
}

.blog-author-aria,.blog-author-card,.blog-content{
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 1px;
}
.blog-author-card-detail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.blog-author-card-detail img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}
.blog-author-card-detail div{
    margin-bottom: 10px;
}

.blog-content-title{
    font-weight: 800;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    overflow-wrap: break-word;
}

.css-1k5pqev {
    line-height: 1.375;
}
.blog-content-info{
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.css-ym1d6x {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 30;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.css-b8h0za {
    display: none;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-weight: 700;
    color: rgba(107, 114, 128, 1);
}
.css-tez75r {
    display: block;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-weight: 700;
    color: rgba(107, 114, 128,1);
}
.toolip-handle{
    color: rgba(55, 65, 81,1);
    position: relative;
}
.css-2djb73 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(55, 65, 81, 1);
}
.css-r1dmb {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    opacity: 0.75;
    fill: currentColor;
}
.info-author{
    font-weight: 500;
    color: rgba(17, 24, 39, 1);
    
}
.info img{
    width: 30px;
    height: 30px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}

.blog-content-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 30;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.blog-content-main {
    grid-column: span 8/span 8;
    position: relative;
    z-index: 20;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2.5rem;
}
#post-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    color: #111;
    max-width: 65ch;
    font-size: 1.125rem;
    line-height: 1.7777778;
    overflow-wrap: break-word;
    min-height: 30vh;
}

#post-content-wrapper p, #post-content-wrapper ul, #post-content-wrapper ol {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
}

#post-content-wrapper >:first-child {
    margin-top: 0;
}
#post-content-wrapper h1 {
    color: #111827;
    font-weight: 700;
    font-size: 2.11111em;
    margin-top: 0;
    margin-bottom: 0.8333333em;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}
#post-content-wrapper h2 {
    color: #161c2a;
    font-weight: 600;
    font-size: 1.78888em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    line-height: 1.3333333;
    font-family: 'Poppins', sans-serif;
}
#post-content-wrapper ul>li , #post-content-wrapper ol>li{
    position: relative;
    padding-left: 1.6666667em;
}
#post-content-wrapper li {
    margin-top: 0.6666667em;
    margin-bottom: 0.6666667em;
}
#post-content-wrapper ul>li::before ,#post-content-wrapper ol>li::before {
    content: "";
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
    width: 0.3333333em;
    height: 0.3333333em;
    top: calc(0.8888889em - 0.1666667em);
    left: 0.2222222em;
}


.blog-content-sidebar {
    grid-column: span 10/span 10;
    position: relative;
    z-index: 10;
    width: 100%;
    min-width: 100%;
}




/* blog-card */
.blog-posts-wrapper{
    display: flex;

    align-items: flex-start;
    margin-top: 2.5rem;
    flex-direction: row;

    flex-wrap: wrap;
}
.blog-post-card{
    margin-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.blog-post-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column-reverse;
}
.blog-post-card-content{
    width: 100%;
}
.blog-post-card-title{
    margin-bottom: 0.75rem;
    font-weight: 700;
    overflow-wrap: break-word;
    color: rgba(17, 24, 39, 1);
}

.blog-post-card-cover {
    width: 100%;
    margin-bottom: 1.5rem;
}

.blog-content-area {
    margin-left: auto;
    margin-right: auto;
}